<ActionBar class="action-bar" style="background-color: white;">
    <Label class="action-bar-title" text="RLV, UniformData"></Label>
    <ActionItem text="savedItems" ios.position="right" (tap)="showSavedItems()"></ActionItem>
</ActionBar>

<GridLayout rows="*, 85, 70">
    <GridLayout row="0" style="margin-top: 15px">
        <RadListView row="0" [items]="useArray" iosOverflowSafeArea="false" style="background-color: gray">
            <ng-template tkListItemTemplate let-player="item">
                <StackLayout style="border-bottom-width: 2px; border-top-width: 2px; margin: 3px; margin-bottom: 20; background-color: gray" (tap)="addToArray(player)" [ngClass]="playerNameArray.includes(player.name)? 'largeFont' : 'smallFont'" iosOverflowSafeArea="false">
                    <StackLayout style="background-color: white; text-align: center">
                        <Label [text]="player.name" textWrap="true" style="font-size: 22; padding: 5"></Label>
                        <Label textWrap="true" [text]="player.someStuff" style="padding: 5"></Label>
                        <Label textWrap="true" text="Here is some more text. When you make the text bigger, does it still fit?" style="padding: 5"></Label>
                    </StackLayout>
                </StackLayout>
            </ng-template>
        </RadListView>
    </GridLayout>
    <GridLayout row="1" style="border-top-width: 8px">
        <StackLayout>
            <Label text="This page is jut like the other RLV page, except the list here has less variance in its data. The scroll glitch likely does not appear here." textWrap="true"></Label>
        </StackLayout>
    </GridLayout>
    <GridLayout row="2" style="border-top-width: 8px">
        <StackLayout>
            <Label text="2. Click on any item to make the text bigger in that box. Do you see the text get hidden bc the box does not resize?" textWrap="true"></Label>
        </StackLayout>
    </GridLayout>
</GridLayout>